@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Mono:wght@200&family=Roboto:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(239 230 219);
}

.wrapper {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    min-width: 360px;
    overflow: hidden;
}

.nav-bg-color {
    background-color: #d24d57 !important;
}

.nav-bg-fade {
    transition-duration: .5s;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

.navbar-brand {
    font-size: 2em;
    text-shadow: 1px 1px 5px #000000;
}

.navbar {
    position: static;
    background-color: rgb(210, 77, 87);
    font-size: 1.5em;
}

@media screen and (min-width: 992px) {
    .navbar {
        background-color: rgba(0, 0, 0, 0);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}

.jumbotron {
    text-align: left;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        text-align: center;
    }
}

.jumbotron-bg {
    background-color: rgba(210, 77, 87,.95);
}

.search-box {
    font-size: 2em;
    border-radius: 20px;
    box-shadow: 7px 9px 5px -2px rgba(174,174,174,1);
    -webkit-box-shadow: 7px 9px 5px -2px rgba(174,174,174,1);
    -moz-box-shadow: 7px 9px 5px -2px rgba(174,174,174,1);
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(210, 77, 87,.25);
  }

.bi-search {
    font-size: 2em;
    display: block;
    margin: 0;
}

.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    border-color: rgba(161, 161, 161, 0.555);
    box-shadow: 0 0 0 0.25rem rgba(210, 77, 87,.25);
}

.dropdown {
    position: static;
}

.dropdown a {
    color:rgb(161, 161, 161);
    text-decoration: none;
}

.dropdown-content {
    display: flex;
    background-color: #f6f6f6;
    border-radius: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-out;
}

.dropdown-content-show {
    max-height: 10000px;
}

.dropdown-content .list-item {
    color: black;
    display: block;
    transition: all 0.5 ease-in-out;
}

.dropdown-content .list-item:hover {
    background-color: rgba(210, 77, 87,.95);
    color: rgba(255,255,255,1);
    font-style: bold;
    border-radius: 20px;
    cursor: pointer;
    padding-left: 1.5rem;
    font-weight: bold;
}

#statistics-container {
    background-color: rgba(153, 153,153, .3);
    padding-bottom: 1rem;
}

#statistics-container h2 {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

#statistics-container span {
    color: rgb(210, 77, 87);
}

.info-box {
    text-align: center;
    color: #fff;
    background-color: rgb(210, 77, 87);
    border-color: rgb(153 153 153);
    border-radius: 20px;
    box-shadow: 0 0 0 0.25rem rgba(210, 77, 87,.25);
}

.info-box h1 {
    margin: 0;
    padding-bottom: 1rem;
    font-weight: bold;
}

.info-box h2 {
    margin: 0;
    font-weight: bold;
}

.info-box p {
    margin: 0;
    font-size: 1.25em;
}

.info-box span {
    font-weight: bold;
    color: #fff !important;
}

.number-box {
    background-color: rgba(210, 77, 87, .8) !important;
}

footer {
    background-color: rgb(153 153 153);
    color: #fff;
    font-size: .9rem;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer h5 {
    font-weight: bold;
}

footer .link {
    text-decoration: underline;
    font-weight: bold;
}

footer a:hover {
    color: #fff;
    cursor: pointer;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}